# Environment Configuration
.env
age-verification.config.js
age-verfication-script-tag.js
age-verification.css
pages/index.css

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/
out/
