.otAgeVerifier {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.otAgeVerifier img {
    max-width: 100%;
}

#av-overlay-wrap {
    width: 100%;
    height: 65%;
    min-height: 600px;
    position: relative;
}

#av-overlay-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,0.35);
    margin: 0;
    padding: 15px;
    /*z-index: 99999999999 !important;*/
    text-align: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 96%;
    max-width: 800px;
    font-family: 'Oswald', sans-serif;
}

h1.headline_text {
    text-transform: uppercase;
}

select.av_datepicker {
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: 16px;
}

.av_submit_form {
    font-size: 1em !important;
    font-weight: 700 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: normal !important;
    border: none;
    font-size: 1em !important;
    font-weight: 700 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 10px 0;
    transition: color 0.1s ease-in,background-color 0.1s ease-in !important;
    width: 40%;
    margin: 10px auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.av_submit_form,.av_submit_form:hover,.av_submit_form:focus {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif !important;
    outline: none !important;
}

.av_date_submit_form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto 15px;
    overflow: hidden;
}
.av_date_submit, .av_date_cancel {
    width: 45%;
    padding: 15px 0;
}
.av_date_submit {
    float: left;
}

.av_date_submit > a,.av_date_cancel > a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
}

.av_date_cancel {
    float: right;
}

@-webkit-keyframes form_shake {
    0%, 100% {margin-left: 0 }
    10%, 30%, 50%, 70%, 90% {margin-left: -10px}
    20%, 40%, 60%, 80% {margin-left: 10px;}
}
@keyframes form_shake {
    0%, 100% {margin-left: 0}
    10%, 30%, 50%, 70%, 90% {margin-left: -10px}
    20%, 40%, 60%, 80% {margin-left: 10px;}
}
.form_shake {
    -webkit-animation-name: form_shake !important;
    animation-name: form_shake !important;
}

.logo-image img {
    max-width: 30%;
}
@media (min-width: 992px) {
    #av-overlay-form {
        max-width: 80%;
    }
}

@media (min-width: 768px) and (max-width:91px) {
	
}

@media (max-width: 768px) {
	
}