.otAgeVerification {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.otAgeVerification img {
  max-width: 100%;
}

#ot-av-overlay-wrap {
  width: 100%;
  height: 65%;
  min-height: 600px;
  position: relative;
}

#ot-av-overlay-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  /* box-shadow: 0 0 30px rgba(0,0,0,0.35); */
  margin: 0;
  padding: 15px;
  /*z-index: 99999999999 !important;*/
  text-align: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 96%;
  max-width: 800px;
  font-family: "Inter", sans-serif;
}

h1.headline_text {
  text-transform: uppercase;
  margin: 10px;
}

select.av_datepicker {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 16px;
}

.av_submit_form {
  font-size: 1em !important;
  font-weight: 700 !important;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: normal !important;
  border: none;
  font-size: 1em !important;
  font-weight: 700 !important;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 10px 0;
  transition: color 0.1s ease-in, background-color 0.1s ease-in !important;
  width: 40%;
  margin: 10px auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.av_submit_form,
.av_submit_form:hover,
.av_submit_form:focus {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif !important;
  outline: none !important;
}

.av_date_submit_form {
  width: 90%;
  max-width: 400px;
  margin: 0 auto 15px;
  overflow: hidden;
}
.av_date_submit,
.av_date_cancel {
  width: 45%;
  padding: 15px 0;
}
.av_date_submit {
  float: left;
}

.av_date_submit > a,
.av_date_cancel > a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
}

.av_date_cancel {
  float: right;
}

/* NEW */

.otAgeVerification h1.ot-headline_text {
  text-transform: uppercase;
  margin: 10px;
}

.otAgeVerification .ot-subhead_text {
  margin: 0 0 18px;
}

.otAgeVerification .ot-av-datepicker-fields {
  box-sizing: border-box;
  margin: 10px 0 10px 0;
}

.ot-av-datepicker-fields select,
.ot-av-datepicker-fields input {
  box-sizing: border-box;
  color: #555;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  margin-right: 3px;
  border: 1px solid #ccc;
}

.ot-av-datepicker-fields input.av-day {
  box-sizing: border-box;
  width: 45px;
  height: 28px;
}

.ot-av-datepicker-fields input.av-year {
  box-sizing: border-box;
  width: 70px;
  height: 28px;
}

.otAgeVerification .ot-av-submit-form {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 30px auto 15px;
}

.otAgeVerification .ot-av-submit-btn,
.otAgeVerification .ot-av-cancel-btn {
  width: 40%;
  height: 30px;
  float: left;
  border-radius: 5px;
  border: 1px solid transparent;
}

.otAgeVerification .ot-av-submit-btn {
  margin-right: 15px;
}

.otAgeVerification .ot-logo-image img {
  max-width: 30%;
  margin: 30px 0 20px;
}

@-webkit-keyframes form_shake {
  0%,
  100% {
    margin-left: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }
  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}
@keyframes form_shake {
  0%,
  100% {
    margin-left: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }
  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}
.form_shake {
  -webkit-animation-name: form_shake !important;
  animation-name: form_shake !important;
}

.logo-image img {
  max-width: 30%;
}
@media (min-width: 992px) {
  #ot-av-overlay-form {
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 91px) {
}

@media (max-width: 768px) {
}
